<div class="github-link-container">
  <a
    class="github-link"
    href="https://github.com/erkarl/tomster-summoner"
    target="_blank"
    rel="noopener">
    Source Code
  </a>
</div>
<div class="button-container">
  <button
    class="glimmer-button"
    onclick={{action createTom}}>
      Summon Tomsters
  </button>
</div>

<div class="tomster-count">
  <p>You have summoned {{tomstersCount}} Tomsters</p>
</div>

<div class="tomsters-container">
  {{#each tomsters key="@index" as |tom|}}
    <tom-dale />
  {{/each}}
</div>
